@font-face {
    font-family: neu;
    src: url(NeueHaasDisplay-Mediu.ttf);
}
@font-face {
    font-family: roman;
    src: url(Roman.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "neu";
}

html, body{
    height: 100%;
    width: 100%;
}
.main{ 
    position: relative;
    z-index: 10;
}
.page1{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae4;
    position: relative;
    padding: 0 2vw;
}
.nav{
    z-index: 100;
    position: relative;
    padding: 3vw 0vw ;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-part2{
    gap: 1vw;
    display: flex;
    align-items: center;

}
.nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid #4d4b4b;
    border-radius: 50px;
    font-weight: 500;
    color: #000000c9;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}
.nav-part2 h4 a{
    text-decoration: none;
    color: #000000c9;
    position: relative;
    z-index: 9;
}
.nav-part2 h4:hover a{

    color: white;
}


.nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%; 
    transition: all ease 0.4s;
}
.nav-part2 h4:hover::after{ 
    border-radius: 0;
    bottom: 0;
    opacity: 1; 
     
}

.nav h3 { 
    font-family: roman;
    display: none;
}
.center{
    height: 65vh;
    width: 100%; 
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 2vw;
}
.left h3{
    width: 25vw;
    font-size: 2vw;
    line-height: 2vw;
    
}

.center h1{
    line-height: 7vw;
    font-size: 7vw;
    text-align: right;
}
.page1 video{
    position: relative;
    border-radius: 33px;
    margin-top: 4vw;
    width: 100%;
}

.hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw; 
    right: 0;
    top: 65vh;
   
}

.hero1{
    height: 100%;
    width: 100%;
    background-color: #fe320a;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}
.hero2{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe320a, #f4310ae5);
    border-radius: 50%;
    filter: blur(15px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.hero3{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#fe320a, #fb2e05);
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes anime1{
    from{
        transform: translate(55%, -2%);
    }
    to{
        transform: translate(0%,10%);
    }
}
@keyframes anime2{
    from{
        transform: translate(5%, -5%);
    }
    to{
        transform: translate(-15%,20%);
    }
}

.page2{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae4;
    padding: 6vw 0vw;
    position: relative;
}
.moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

.moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.moving-text h1 {
    font-size: 9vw; 
    display: inline-block;
}
.gola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: #fe320a;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.page2-bottom{
    height: 80vh;
    width: 100%; 
    display: flex;
    padding: 4vw;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}
.page2-bottom h1{
    font-size: 3.5vw;
    width: 50%;
    line-height: 4vw;
}
.bottom-part2{
    width: 25%;
}
.bottom-part2 img{
    width: 100%;
    border-radius: 15px;

}
.bottom-part2 p{
    font-family: roman;
    font-weight: bold;
    margin-top: 1vw;
    font-size: 1vw;
}
.page2 .gola2{
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 58%;
    background: linear-gradient(#fe320a, #fe2f0ae7);
    top: 60%;
    left: 20%;
    filter: blur(30px);
    animation-name: move2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes move2{
    from{ 
        transform: translate(10%, -10%) skew(0);
    }
    to{ 
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

 .page3{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae4;
    padding: 4vw 0;
 }

 .elem{
    height: 125px;
    width: 100%; 
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 3vw;
    /* border-top: 1px solid black; */
    border-bottom: 2px solid rgba(111, 110, 110, 0.826);
    overflow: hidden;
 }
 .elem h2{
    font-size: 2.5vw;
    position: relative;
    z-index: 9;
 }
 .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 157, 0, 0.896);
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
 }
 .elem:hover .overlay{
    top: 0;
 }

  
 .fixed-image{
    height: 28vw;
    width: 22vw; 
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 28%;
    display: none;
    background-size: cover;
    background-position: center;
    transition: all step-end 0.2s;
 }

 .page4{
    padding: 1vw 2vw  ;
    height: 125vh;
    width: 100%;
    background-color: #efeae4;
 }
 .page4 #project{
    padding: .8vw 2vw;
    display: inline-block;
    border: 1px solid rgb(73, 72, 72);
    
    font-family: "roman";
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    
 }
 .page4 #project a{
    text-decoration: none;
    color: #383636;
    font-size: 1vw;
    position: relative;
    z-index: 9;
    font-family: roman;
    transition: all ease-in 0.4s;
 }
 .page4 #project:hover a{ 
     color: white;
 }
 .page4 #project::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%; 
    transition: all ease 0.4s;
}
.page4 #project:hover::after{ 
    border-radius: 0;
    bottom: 0;
    opacity: 1; 
     
}
.page4cont{  
    height: 115vh;
    width: 100%; 
    display: flex;
    padding-top: 5vw; 
    
}
.left4{
    height: 100%;
    width: 40%;
    background-color: #0b0500;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.design{
    padding: 10vw 0 0 10vw;
    color: #fff;
    justify-content: flex-start;

     
}
.design h1 {
    padding-left: 1vw;
    position: relative;  
    text-align: left;
    font-size: 4vw;
}
.design h1 span{
    color: #676666de;
}

.design h1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to bottom,  red 12%, rgb(80, 79, 79) 30%);
}

.design p{
    padding-top: 2.5vw;
    width: 75%;
    font-family: roman;
    font-size: 1.1vw;
}

.right4{
    height: 100%;
    width: 60%; 
    
}
.right4 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}



.page5{
    height: 60vh;
    width: 100%;
    background-color: #efeae4;
    padding: 8vw 2vw;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 30% !important;
     
    font-size: 18px;
    border-left: 1px solid rgb(50, 49, 49);
    padding: 0 2vw;
  }
  .swiper-slide p{
    font-family: roman;
  }

  
.page6{ 
    height: 110vh;
    width: 100%;

}
.footer{
    position: fixed;
    z-index: 9;
    height: 100vh;
    width: 100%;
    color: white;
    bottom: 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;

}

.footer h1{  
    font-size: 22.5vw;
}

.footer1{ 
    display:flex; 
    justify-content: space-between;
    height: 20vh;
    width: 100%; 
    padding: 1vw 4vw; 
}
.footer-first{
    font-size: 2.5rem;
}
.footer-2nd{
    font-family: roman;
    font-size: 1.2vw;
}
.footer input{
    font-family: roman;
    font-size: 1.5vw;
    margin-top: 2vw;
    width: 20vw;
    height: 2.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: #fff;
}
.footer-bottom{
    height: 10vh;
    width: 100%;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom h1{
    font-size: 1vw;
}

.loader{
    height: 100%;
    width: 100%;
    background: #000;
    position: fixed;
    z-index: 99;
    top: 0;
    transition: all linear 0.2s;
     
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader h1{
    position: absolute;
    color: transparent;
    font-size: 3.5vw;
    background: linear-gradient(to right, orange, orangered);
    -webkit-background-clip: text;
    opacity: 0;
    
}
.loader h1:nth-child(1){
    animation-name: load;
    animation-duration: 1.5s;
    animation-delay: 1s;
}
.loader h1:nth-child(2){
    animation-name: load;
    animation-duration: 1.5s;
    animation-delay: 2.5s;
}
.loader h1:nth-child(3){
    transition: all ease-in-out 0.2s;
    animation-name: load;
    animation-duration: 1.5s;
    animation-delay: 4s;
}

@keyframes load{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


#full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}

#full-div1 { 
    
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
 

#full-div1 h1{
     
    font-size: 8vw; 
    text-align: right;
}
.menuanim{

    padding: 5vw 7vw 0 0;
}